<div class="mat-card" style="margin: 26px 0;">
  <div style="padding: 30px">
    <h1>2020</h1>
    <ul style="font-size: 18px">
      <li>
        1月2日 <button  mat-button color="primary">mongoDB的安装与配置</button>
      </li>
      <li>
        1月2日 <button  mat-button color="primary">mongoDB的安装与配置</button>
      </li>
      <li>
        1月2日 <button  mat-button color="primary">mongoDB的安装与配置</button>
      </li>
      <li>
        1月2日 <button  mat-button color="primary">mongoDB的安装与配置</button>
      </li>
      <li>
        1月2日 <button  mat-button color="primary">mongoDB的安装与配置</button>
      </li>
    </ul>
  </div>
  <mat-divider></mat-divider>
  <div style="padding: 30px">
    <h1>2019</h1>
    <ul style="font-size: 18px">
      <li>
        12月2日 <button  mat-button color="primary">mongoDB的安装与配置</button>
      </li>
      <li>
        1月2日 <button  mat-button color="primary">mongoDB的安装与配置</button>
      </li>
    </ul>
  </div>
</div>
